<md-card >
  <md-card-header>
    <md-card-title>Greentube Test</md-card-title>
    <md-card-subtitle>Login Page with Localization</md-card-subtitle>
  </md-card-header>
</md-card>

<br/>

<a md-raised-button [routerLink]="['/login' | localize]">{{'Login' | translate}} Page</a>