.loginComponent {
	display:flex;
	height:100%;
	flex-direction: column;
}

.header {
	flex:0 0 auto;
}

.content {
	flex: 1 1 auto;
	padding:20px;
	position:relative;
}

.footer {
  flex: 0 0 auto;
}

.full-width {
	width:100%;
}

md-input-container {
	margin-bottom:10px;
}