<div class="loginComponent">
	<md-toolbar color="primary" class="header">
		<span>Login</span>
	</md-toolbar>

	<div class="content">
		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
		  <md-input-container class="full-width">
		    <input md-input placeholder="Email" type="email" [(ngModel)]="user.email" #email="ngModel" name="email" required validateEmail>
		    <md-hint *ngIf="email.invalid && email.dirty" align="start" class="warn">{{ 'Email is incorrect.' | translate }}</md-hint>
		  </md-input-container>

		  <md-input-container class="full-width" dividerColor="{warn: password.invalid}">
		    <input md-input placeholder="Password" 
		    type="password" [(ngModel)]="user.password" name="password" required
		    #password="ngModel" minlength="6">
		    <md-hint *ngIf="password.invalid && password.dirty" class="warn" align="start">{{ 'Password must have min. 6 characters' | translate }}</md-hint>
		  </md-input-container>

  			<button md-raised-button type="submit" color="primary" [disabled]="!loginForm.form.valid">{{'Login' | translate}}</button>
		</form> 
	</div>

	<md-toolbar color="primary" class="footer">
		<span>Greentube Test</span>
	</md-toolbar>
</div>
